/components
  ChartPanel.jsx
  LogPanel.jsx
  TaskTable.jsx
  AlertPanel.jsx
  CommandConsole.jsx
/utils
  dataGenerators.js
  commandProcessor.js
  constants.js
TriumvirateMonitor.jsx
package.json
.gitignore
